/* src/popup.css */
.landmark-popup {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  border: 1px solid #ccc;
  padding: 1rem;
  max-width: 90%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  z-index: 10;
}

.landmark-popup img {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 1rem 0;
  border-radius: 8px;
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 14px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.popup-links {
  margin-top: 1rem;
}


.landmark-popup a {
  display: inline-block;
  margin-top: 1rem;
  color: #007acc;
  text-decoration: none;
  font-weight: bold;
}

.landmark-popup a:hover {
  text-decoration: underline;
}

.landmark-popup button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.landmark-popup button:hover {
  background-color: #222;
}


.popup-close:hover {
  color: red;
}

.popup-links a {
  text-decoration: none;
  color: #0066cc;
  font-weight: bold;
}

.popup-links a:hover {
  text-decoration: underline;
}
